:root{
    --tbl_btn_distance: 15vw;
}
*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width:100%;
    padding-left: 0%;
    margin-left: 0%;
}
body{
    box-sizing: border-box;
    font-family: "Red Hat Display";
    display: grid;
    grid-template-columns: 60px auto;
    background-color: #0e1111ff;
    color: white;
    margin: 0%;
    overflow-x:hidden;
    height: 100%

}

nav{
    text-align:center;
    height: 100%;
    padding-left: auto;
    padding-right:auto;
    background-color: #232b2bff;
}

.navbtn{
    margin-top:10vh;
}

content{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 70px 50px 40px auto
}

search, actionbtn, table,.orders{
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

search{
    display: grid;
    grid-template-columns: 50vw 20px;
}
#textfield{
    width: 50vw;
    height: 30px;
    border: 0px;
    background-color: rgb(74, 75, 75);
    color: white;
    margin-right: 5px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.address{
    text-align: left;
    border: 0px;
}

th, td{
    border: rgb(104, 104, 104) solid 2px;
    margin: 0px;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 60vw;
    height: 70vh;
    background-color: #232b2bff;
    border-radius: 10px;
}

#hash, button{
    background-color: rgb(45, 48, 48);
    padding: 5px 10px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 7px;
    color: white;
    border: 0px;
}
#backward{
    margin-left: 0px;
    margin-right: var(--tbl_btn_distance);
}
#foreward{
    margin-right: 0px;
    margin-left: var(--tbl_btn_distance);
}
#Filterimg, #Spreadsheetimg{
    padding-right: 5px;
}
btn{
    padding:20px;
}

#hash:hover, button:hover{
    background-color: rgb(61, 61, 61)
}

.scbuttons{
    padding-left: 5px;
}

btn:hover{
    color: grey;
}

th, td, table{
    padding: 5px 15px;
}

select, .date{
    background-color:rgb(45, 48, 48);
    color: white;
    border: 0px;
    Border-radius: 3px;
    font-family: "Red Hat Display";
    height: 25px;
}
